<%= form_for(@watch) do |f| %>
  <% if @watch.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@watch.errors.count, "error") %> prohibited this watch from being saved:</h2>

      <ul>
      <% @watch.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :member_id %><br />
    <%= f.number_field :member_id %>
  </div>
  <div class="field">
    <%= f.label :lesson_number %><br />
    <%= f.number_field :lesson_number %>
  </div>
  <div class="field">
    <%= f.label :watch %><br />
    <%= f.check_box :watch %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
